body{
    background-color: #EAF6F6;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #F76B8A;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #66BFBF;
  }
 a{
    position: relative;
    display: inline-block;
    text-decoration:none;
    font-size: 20px;
    padding: 10px 40px;
    background: #F76B8A;
    color:#fff;
    border-radius: 10px;
  
}
.texto{
    color: #66BFBF;
  }
  .img{
    position: relative;
    display: inline-block;
    text-decoration:none;
    font-size: 20px;
    padding: 10px 40px;
    background: #F76B8A;
    color:#fff;
    border-radius: 10px;
  
}